:root {
  --text-pink: #ff408e;
  --text-red: #ff0000;
  --text-green: #299501;
  --text-darkGray: #9b9b9b;

  --button-bg-pink: #ff458f;

  --border-red: #fd6464;
  --border-pink: #ff458f;
  --border-lightGray: #e6e6e6;
  --border-darkGray: #979797;
}
